# It's critical that $TXION_DATA_MOUNT_DIR and /ethecycle be mounted on both containers.
version: "3.9"

services:
  neo4j:
    build:
      dockerfile: Dockerfile.neo4j
      context: .
      args:
        - SSH_KEY_DIR=${SSH_KEY_DIR}
    env_file:
      - ${DOCKER_SCRIPTS_DIR}/neo4j/.env.neo4j
    environment:
      - ETHECYCLE_ENV=${ETHECYCLE_ENV:-development}
      - NEO4J_AUTH=${NEO4J_USER_AND_PASS}
      - SSH_KEY_DIR=${SSH_KEY_DIR}
    ports:
      - 127.0.0.1:7474:7474
      - 127.0.0.1:7687:7687
    volumes:
      - .:/ethecycle
      - ${NEO4J_DATA_DIR}/data:/data
      - ${NEO4J_DATA_DIR}/logs:/logs
      - ${TXION_DATA_DIR}:${TXION_DATA_MOUNT_DIR}
  python_etl:
    build:
      context: .
      args:
        - SSH_KEY_DIR=${SSH_KEY_DIR}
    tty: true
    stdin_open: true
    environment:
      - ETHECYCLE_ENV=${ETHECYCLE_ENV:-development}
      - NEO4J_AUTH=${NEO4J_USER_AND_PASS}
      - SSH_KEY_DIR=${SSH_KEY_DIR}
    depends_on:
      - neo4j
    volumes:
      - .:/ethecycle
      - ${TXION_DATA_DIR}:${TXION_DATA_MOUNT_DIR}
    working_dir: /ethecycle
